<h2 class="header">Activities Near You</h2>
<input type="text" placeholder="Search by Zipcode" />
<button type="submit">Search</button>

{{#each activitys as |activity|}}
<div id="event-card">


    <h3 id="event-title">{{{activitytitle}}}</h3>

    <h4 id="event-date">{{{activitydate}}}</h4>

    <p id="event-desc">{{{activitydescription}}}</p>

<button type="submit" id="faveBtn">Add to Favorites</button>

</div>
{{/each}}