<h2 class="header">Activities</h2>
<input type="text" placeholder="Search by Zipcode" />
<button type="submit">Search</button>

{{#each activitys as |activity|}}
<div id="event-card">


    <h3 id="event-title">{{{activitytitle}}}</h3>

    <h4 id="event-date">{{{activitydate}}}</h4>

    <p id="event-desc">{{{activitydescription}}}</p>

<button type="submit" id="faveBtn">Add to Favorites</button>

</div>
{{/each}}

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link All" aria-current="page" href="#">All</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Crafts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Food</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="#">Indoor</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="#">Outdoor</a>
  </li>
</ul>