<h2 class="header">Saved Events</h2>

{{#each faves as |fave|}}
<div id="event-card">


    <h3 id="event-title">{{dataValues.title}}</h3>

    <h4 id="event-date">{{dataValues.date}}</h4>

    <p id="event-desc">{{dataValues.description}}</p>

</div>
{{/each}}
