<video autoplay muted loop id="myVideo">
    <source src="./Assests/graveyard.mp4" type="video/mp4">
</video>
<h1 class="test">Welcome to Krypt Keeper!</h1>
<h2 class="test">Your resource for spooky attractions in your area</h2>
