<h2 class="header">Login</h2>
<form class="login-form">

    <input class="form-input" type="text" placeholder="username" id="username-login" />

    <input class="form-input" type="password" placeholder="password" id="password-login" />

    <button type="submit">Login</button>

    <a href="/signUp">Sign Up</a>

</form>