<h1 class="header">Login or Sign Up</h1>

<div id="login-container">
    <h2>Log in</h2>
<form class="login-form">

    <input class="form-input" type="text" placeholder="username" id="username-login" />

    <input class="form-input" type="password" placeholder="password" id="password-login" />

    <button type="submit">Login</button>

    <a href="/signUp">Sign Up</a>

</form>
</div>

<div id="signup-form">
    <h2>Sign Up</h2>
    <form class="signup-form">
        <div>
            <input type="text" placeholder="username" id="username-signup"/>
            <div>
                <input type="password" placeholder="password" id="password-signup">
            </div>
            <div>
                <button type="submit">Sign Up</button>
            </div>
        </div>
    </form>
</div>

<script src="./js/login.js"/>