<div>
    <h2 class="header">
        Sign Up
    </h2>
    <form class="signup-form">
        <div>
            <input type="text" placeholder="username" id="username-signup"/>
            <div>
                <input type="password" placeholder="password" id="password-signup">
            </div>
            <div>
                <button type="submit">Sign Up</button>
            </div>
        </div>
    </form>
    <div>
        <a href="/login">Go to Login Page</a>
    </div>
</div>