<div>
    <h2 class="header" id="event-name">{{attractiontitle}}</h2>

    <h3>{{date}}</h3>

    <p id="event-desc">{{eventdescription}}</p>

    <button type="submit" id="faveBtn">Add To Favorites</button>
</div>

<div id="map-area">
    {{!-- map data here --}}
</div>