#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

#attractions {
    display: flex;
    justify-content: center;
    
}

.user_section {
    display: flex;
    justify-content: space-between;
}

.login {
    display: flex;
    justify-content: space-around;

}

.test {
    
    font-size: xx-large;
    background: none;
    color: white;
    font-weight: 700;
    mix-blend-mode: overlay;
    padding: 5px 5px;
    text-align: center;
}


.title {
    
    font-size: xx-large;
    background: none;
    color: white;
    font-weight: 700;
    mix-blend-mode: overlay;
    padding: 5px 5px;
    text-align: center;
}

.links {
    display: flex;
    align-items: center;
    font-size: xx-large;
    background: none;
    color: white;
    font-weight: 700;
    mix-blend-mode: overlay;
    
}


.contact {
    min-height: 15vh;
    font-size: xx-large;
    background: none;
    color: white;
    font-weight: 700;
    mix-blend-mode: overlay;
    padding: 1px 1px;
    text-align: center;
}