<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kyrpt Keeper's Home</title>
    <link rel="stylesheet" href="./main.css">
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body>


    <video autoplay muted loop id="myVideo">
        <source src="C:\Users\pauln\Desktop\Project 2\krypt-keeper\public\Assests\graveyard.mp4" type="video/mp4">
    </video>

    <h1>
        <p class="title">Krypt Keepers Home</p>
    </h1>
    <br><br><br><br>

    <p class="test"> Login </p>
    <p class="test"> Sign Up</p>
    <br><br>
    <br><br><br><br>


    <div class="user_section">
        <section class="links"> Haunted Attractions </section>
        <section class="links"> Fall Activities </section>
    </div>


    <br>
    <p class="contact"> Contact </p>

</body>

</html>