<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kyrpt Keeper's Home</title>
    <link rel="stylesheet" href="./main.css">
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body>
     <video autoplay muted loop id="myVideo">
     <source src="C:\Users\pauln\Desktop\Project 2\Assests\graveyard.mp4" type="video/mp4">
     </video>
    <nav>
        
        <a id="header" href="/">Krypt Keeper</a>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/attractions">Activities and Attractions</a>
            </li>
            {{#unless logged_in}}
            <li>
                <a href="/login">Log In</a>
            </li>
            <li>
                <a href="/signup">Sign Up</a>
            </li>
            {{/unless}}
            {{#if logged_in}}
            <li>
                <button id="logout">Log Out</button>
            </li>
            {{/if}}
        </ul>
    </nav>
       {{!-- <h1>

        <p class="title">Krypt Keepers Home</p>
    </h1>
    <br><br><br><br>

    <p class="test"> Login </p>
    <p class="test"> Sign Up</p>
    <br><br>
    <br><br><br><br>

        

    <div class="user_section">
        <section class="links"> Haunted Attractions </section>
        <section class="links"> Fall Activities </section>
    </div>
    
 {{{body}}}

    <br>
    <p class="contact"> Contact </p>


     --}}

</body>

</html>